.bg-form{
  background-image: url('./assets/background-registration.jpg');
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}